$width-sait:1200px;
*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
.top__title{
color: rgba(32, 32, 39, 1);

font-family: "Montserrat";
font-size: 64px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header__img-mob{
  display: none;
}
.headerimgmob{
    display:none;
}
.headerspan{
  font-size: 24px;
  font-weight: 600;
}
.header__star2{
position: absolute;
margin-left: -56px;
top: 94px;
}
.header__star3{
padding-left: 36px;
position: absolute;
padding-top: 64px;
}
.heeaderstar4{
  position: absolute;
  padding-left: 288px;
  bottom: 31px;
}
.forstar5{
position: absolute;
margin-left: -69px;
margin-top: 485px;
}

.forstar6{
position: absolute;
margin-left: -55px;
margin-top: 530px;
}
.conteiner{
  padding-top: 21px;
}
.conteiner__star5{
position: absolute;
margin-left: 828px;
}
.conteiner__star4{
margin-left: 890px;
margin-top: 28px;
}
.top{
background-color:rgba(225, 255, 143, 1);;
height: 800px;
position: relative;
overflow: hidden;
background-repeat: no-repeat;
}
.top__title{
padding-top: 196px;
margin-bottom: 16px;
color: rgb(26, 23, 23);
 font-family: "Montserrat";
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: left;
    width: 769px;
}
.line{
  display: flex;
  overflow-x: hidden;
}
.line__text{
  font-size: 70px;
  font-size: sans-serif;
  line-height: 1.3;
  padding: 24px 0;
  display: inline-block;
  white-space: nowrap;
   
}
.line__text1{
  animation: marquee1 20s
  infinite linear;
  animation-delay: -20s;
  font-size: 19px;
      font-size: 30px;
    font-weight: 600;
}
.line__text2{
  animation: marquee2 20s
  infinite linear;
  animation-delay: -10s;
}
.line__text{
  content: 'я бегущая строка';
}
@keyframes marquee1{
  0%{
    transform: translateX(100%);
  }
  100%{
transform: translateX(-100%);
  }
}
@keyframes marquee2{
  0%{
    transform: translateX(0%);
  }
  100%{
transform: translateX(-200%);
  }
}
.paragraph{
    color: rgba(32, 32, 39, 1);

font-family: "Montserrat";
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
width: 720px;
}
.button{
    width: 247px;
height: 66px;
cursor: pointer;
 border: 1px solid black;
 border-radius: 60px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: sans-serif;
  transition: background-color 1s;
  background-color: black;
  margin-top: 48px;
  font-family: "Montserrat";
  font-weight: 500;
}
   .button:hover {
    background-color: white;
    color: black;
  }

 .line{
  display: flex;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.2);
backdrop-filter: blur(50px);
background: rgba(188, 236, 48, 1);
gap: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    font-family: "Montserrat";
    text-transform: uppercase;
white-space: nowrap; 
height: 90px;
    align-items: center;
 }
 .for__descript{
  display: none;
 }
  .line__text{
    color: rgba(32, 32, 39, 1);

font-family: "Montserrat";
font-size: 13px;
font-weight: 600;
line-height: 37px;
letter-spacing: 4%;
text-align: left;
text-transform: uppercase;

  }
  .for-box{
 background-color: black; 
 background-repeat: no-repeat;
 background-image: url(img/for__star.png);
 background-position: 883px 53px;
 height: 1424px;
  }
  .fortitle{
 color: rgba(255, 255, 255, 1);
 font-family: "Montserrat";
 font-size: 64px;
 font-weight: 600;
 line-height: 100%;
 letter-spacing: 0px;
 text-align: left;
 padding-top: 94px;
 padding-bottom: 24px;
  }
  .forparagraph{
 color: rgba(255, 255, 255, 1);
 font-family: "Montserrat";
 font-size: 24px;
 font-weight: 400;
 line-height: 32px;
 letter-spacing: 0px;
 text-align: left;
 max-width: 788px;
  }
  .for{
display: flex;
flex-wrap: wrap;
gap: 32px;
margin-top: 72px;
}
.for2 {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 30px;
}
.for__item{
 text-align: center;
 border-radius: 19.02px;
     min-height: 315px;
     cursor: pointer;
     transform: 1s;
}
.for__item1{ 
 border-radius: 19.02px;
 background-image:url(img/numbers.png);
background-position: center;
background-color:#ad61ff;
display: flex;
align-items: center;
justify-content: center;
}
.for__item2{ 
 border-radius: 19.02px;
 background-image: url(img/arefmeteka.png);
background-position:center;
background-color: orange;
}
.for__item3{ 
 border-radius: 19.02px;
 background-image: url(img/text.png);
background-position:center;
background-color: mediumpurple;
}
.for__item4{
   border-radius: 19.02px;
 background-image: url(img/scissors.png);
background-position:center;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
}
.culac{
  position: absolute;
}
.for__item5{
   border-radius: 19.02px;
 background-image: url(img/vectorina.png);
background-position:center;
background-color: yellowgreen;
display: grid;
align-items: center;
justify-content: center;
}
.for__item6{
   border-radius: 19.02px;
 background-image: url(img/colors.png) ;
background-position:center;
background-color: black;

}
.for__conteinerbig{
  background-color: white;
    border-radius: 19.02px;
min-width: 378px;
    transition: 1s;
}
.for__conteiner-1{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
height: 159px;
}
.for__conteiner-2{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
  height: 198px;

}
.for__conteiner-3{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
 height: 159px;
}
.for__conteiner-4{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
  height: 237px;

}
.for__conteiner-5{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
height: 212px;
}
.for__conteiner-6{
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
  cursor: pointer;
height: 237px;
}
.for__h3{
color: rgba(32, 32, 39, 1);
font-family: "Montserrat";
font-size: 32px;
font-weight: 700;
letter-spacing: 0px;
text-align: left;
padding-top: 16px;
width: 300px;
}
.for__button{
  border-radius: 52.58px;
background: rgba(247, 247, 247, 1);
width: 108px;
height: 36px;
color: rgba(32, 32, 39, 1);
font-family: "Montserrat";
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0px;
border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for__card{
  text-decoration: none;
}
.for__conteinerbig:hover{
  scale: 110%;
transition: 1s;
}
.for__conteiner-big1{
  height: 475px;

}
.for__conteiner__big__1:hover{
  scale: 110%;
transition: 1s;
}
.for__conteiner-big2{
height:512px ;
}
.for__conteiner-big3{
height: 475px;
}
.for__conteiner-big4{
height: 551px;
margin-top: -40px;

width: 31%;
}
.for__conteiner-big5{
height: 510px;
}
.for__conteiner-big6{
height: 551px;
margin-top: -40px;

width: 31%;
}
.for__mini-card{
  padding-top: 35px;
}
.for__button-big{
  display: none
}
.section{
  background-color: black;
  height: auto;
  padding-bottom: 144px;
&__title
    {color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 96px;
    padding-bottom: 72px;}
    &__conteiner{
      background-color: white;
      border-radius: 19.02px;
      display: flex;
      justify-content: flex-end;  
    }
    &__star7{
       position: absolute;
       margin-left: 1160px;
       margin-top: -110px;
    }
    &__star6{
       position: absolute;
       margin-left: 1200px;
       margin-top: -70px;
    }
     &__star8{
       position: absolute;
       margin-left: 1200px;
       margin-top: 5px;
    }
     &__star10{
       position: absolute;
       margin-left: 1150px;
       margin-top: 50px;
    }
    &__conteiner-free{
       background-color: white;
      border-radius: 19.02px;
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
    }
    &__conteiner-mini1{
      padding-top: 48px;
      padding-left: 48px;
      padding-right: 48px;
    }
  &__h3{
  color: rgba(32, 32, 39, 1);
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px; 
  text-align: left;
  width: 504px;
}
&__descript{
  color: rgba(32, 32, 39, 1);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 457px;
  height: 64px;
  padding-top: 24px;
}
&__button{
  margin-top: 36px;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgba(32, 32, 39, 1);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 60px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    transition: background-color 1s;
    background-color: black;
    margin-top: 48px;
    font-family: "Montserrat";
    font-weight: 600;
}
&__button:hover{
background-color: white;
color: black;
}
&__conteiner-mini-img1{
 background-image:url(img/Обложкакарточки.png);
background-color:#ad61ff;
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
&__conteiner-mini-img2{
   background-image:url(img/Gro.png);
background-color: rgba(86, 94, 239, 1);
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
&__conteiner-mini-img3{
background-image:url(img/big_fon.png);
background-color:yellowgreen;
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
&__conteiner-mini-img4{
background-image:url(img/big_fon2.png);
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
&__conteiner-mini-img5{
background-image:url(img/big_fon4.png);
background-color:black;
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
&__conteiner-mini-img6{
background-image:url(img/big_fon5.png);
background-color:black;
border-radius: 19px;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
width:600px;
min-height: 500px;
background-repeat: no-repeat;
}
 }
 .footer{
  background-color:rgba(189, 237, 53, 1);
  color:rgba(189, 237, 53, 1) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

&__h3{
color: rgba(0, 0, 0, 1);
font-family: "Montserrat";
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
width: 285px;
height: 29px;
}
}
@import'mobile';

